@import 'sass/_normalize.scss';
@import 'sass/_base.scss';
@font-face {
    font-family: 'HarryP';
    src: url('/fonts/harry.ttf') format('truetype') ;

}
@font-face {
    font-family: 'lumos';
    src: url('/fonts/lumos.ttf') format('truetype') ;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 6.5em;
    font-family: 'HarryP','Orbitron', sans-serif;
}

h2 {
    font-weight: 100;
    font-size: 3.157em;
    font-family: 'lumos', sans-serif;
}

h3 {
    font-size: 1.777em;
    font-weight: 100;
    font-family: 'lumos', Orbitron, sans-serif;
}

p {
    font-size: 1em;
}

a {
    color: $accent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 10px 7px;
}

.btn, button {
    background: $action;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-family: 'lumos', sans-serif;
    font-weight: 100;
    padding: 10px 51px 7px;
    color: #FFF;
    letter-spacing: 1px;
    border: solid 2px $action;
    @include trans();
    &:hover {
        background: $action - 30;
        border-color: $action - 30;
    }
}

.btn-text {
    @extend .btn;
    background: transparent;
    font-family: 'lumos', sans-serif;
}
.btn-del {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #de4f4f), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #de4f4f 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #de4f4f 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #de4f4f 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #de4f4f 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #de4f4f 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#de4f4f', endColorstr='#e4685d',GradientType=0);
	background-color:#de4f4f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn-del:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #de4f4f));
	background:-moz-linear-gradient(top, #e4685d 5%, #de4f4f 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #de4f4f 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #de4f4f 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #de4f4f 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #de4f4f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#de4f4f',GradientType=0);
	background-color:#e4685d;
}
.btn-del:active {
	position:relative;
	top:1px;
}

.btn-up {
    @extend .btn-del;
    font-family: 'lumos', sans-serif;
}
.btn-run:disabled{
    opacity: 0.45;
    cursor: not-allowed;
    border-color: transparent;

}
.btn-run {
	-moz-box-shadow:inset 0px 0px 1px 0px #caefab;
	-webkit-box-shadow:inset 0px 0px 1px 0px #caefab;
	box-shadow:inset 0px 0px 1px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#366112;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.btn-run:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.btn-run:active {
	position:relative;
	top:1px;
}



.btn-primary {
    @extend .btn;
    background: #FFF;
    color: #2C4961;
    border: solid 2px #FFF;
    display: inline-block;
    padding: 8px 35px 8px ;
    &:hover {
        background: #FFF;
        border-color: #fff;
    }
}


.header {
    background: white;
    border-bottom: 1px solid $dgrey;
    color: $text;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    @include card(1);
    a {
        color: $text;
    }
    .site-title {
        line-height: 0;
        margin: 0;
    }
    .site-title,
    img
    {
        line-height: 0;
        margin: 0;
        height: 55px;
        width: 170px;
    }
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }
    li + li {
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
}
.nav-tab ul {
  list-style: none;
  background-color: #D3D5DB;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav-tab li {
  font-family: 'Avenir', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #BCC3D4;
}

.nav-tab a {
  text-decoration: none;
  color: #2C4961;
  display: block;
  transition: .3s background-color;
}

.nav-tab a:hover {
  background-color: #2C4961;
  color: #fff
}

.nav-tab a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


  .nav-tab li {
    width: 220px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

  /* Option 1 - Display Inline */
  .nav-tab li {
    display: inline-block;
    margin-right: 4px;
  }

.login-toggle {
    cursor: pointer;
}

// Homepage
.billboard {
    background-image: url('/met-stars.png'), linear-gradient(#202023, #19283f);
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid $dgrey;
    padding: 40px 5%;
}


.app-layout {
    margin-left: 80px;
    min-height: 100vh;
    padding: 40px 60px;
}

.app-nav {
    z-index: 9;
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
    color: $text;
    padding-top: 100px;
    transition: all 0.3s ease;
    border-right: solid 1px $dgrey;
    &:hover {
        width: 250px;
        a > span {
            opacity: 1;
            transform: translate3d(0, 0,0);
        }
    }
    a {
        width: 100%;
        padding: 10px 25px;
        color: $text;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
        i {
            font-size: 2em;
            margin-right: 20px;
        }
        > span {
            transform: translate3d(20px, 0,0);
            opacity: 0;
            transition: background 0.3s ease;
        }
        &:hover {
            color: #FFF;
            border-color: $action;
            background: $nav - 20;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}

.page-title {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    width: 100%;
    position: relative;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    tr:nth-child(even) {
        background: #EEE
    }
    td, th {
        text-align: left;
        padding: 10px 5px;
    }
    th {
        text-transform: uppercase;
        background: $dblue;
        color: #fff;
    }
    &.edit-mode {
        transform: translate3d(300px, 0, 0);
    }
}

.user_id {
    color: $blue;
    cursor: pointer;
}

.user-edit {
    position: absolute;
    left: -300px;
    top: 0;
    background: #FFF;
    z-index: 10;
    padding: 20px;
    width: 280px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.68, -0.65, 0.265, 1.20);
    @include card(2);
    .close-edit-mode {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.edit-mode .user-edit {
    opacity: 1;
}

.h_iframe iframe {
    position:absolute;
    top:15px;
    left:85px;
    width:90%;
    height:93%;
}
/////// SELECT DROPDOWN

#container {
    width: 960px;
}
.styled-select {
    float: left;
    margin: 0 20px;
   height: 29px;
   overflow: hidden;
   width: 150px;

}

.inputbox {
    float:right;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 150px;

}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue    { background-color: #2C4961; }
.blue select    { color: #fff; }


//////////
